_build
.*.swp
.merlin
# Generated outputs
*.native
*.cfg
*.xen
*.map
*.img
*.xl
static*.ml
static*.mli
mir-*
log
.DS_Store
/misc
resources/js/core.js
setup.data
setup.log
ppx_react_html.byte
ppx_react_generate_tags.byte
